{% extends "base.html" %}

{% block content %}
<div class='row justify-content-center'>
    <div class='col-sm-6 col-sm-offset-3'>
    <br/>
    <br/>
    <br/>
        <h2 class='text-align-center'><strong>Nuestra historia!</strong></h2>
        <h4>Ponele Critica nace como una idea en un grupo de amigos para poder expandir el registro de películas 
        que conocíamos hasta ese momento. Como bien sabe la mayoría que me conoce, soy una persona que le encanta la estadística, 
        los datos y las cosas randomizadas, entonces planeamos este juego no solo por el hecho de ver películas, 
        sino para que exploremos cine que creíamos que nunca íbamos a ver en nuestra vida, ya sea por interés, por alcance o por cualquier otro motivo. 
        La razón por la cual seguramente estas acá es porque amas el cine, como nosotros, y la intención es que sin ser profesionales y siendo totalmente subjetivos, 
        nos sintamos de manera sincera, parte de un juego pasatista con la excusa de alimentarnos de uno de los pasatiempos mas lindos que existe.</h4>
    <br/>
    <br/>
        <h5 class='text-align-center'>Federico Coniglio - Creador de Sony , Amazon y Ponele Critica , entre otras.</h5>
    </div>
</div>    

{% endblock %}